@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<form method="post" action="/home/gonder">
    <label>Ad</label>
    <input name="Name" type="text" />
    <br />
    <label>Soyad</label>
    <input name="Surname" type="text" />
    <br />
    <label>Mail</label>
    <input name="Mail" type="text" />
    <br />
    <label>Telefon</label>
    <input name="Phone" type="text" />
    <br />
    <input type="submit" value="Gönder" />
</form>