@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/batu.jpg" width="100px" height="150px" />
    <span style="margin-left:1rem; font-size:70px">Tamer Batuhan ŞEN</span>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>İletişim Bilgileri</h2>
        <ul>
            <li>Telefon : 0505 530 9158</li>
            <li>Mail : t.batuhansen@gmail.com</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Eğitim Bilgileri</h2>
        <ul>
            <li>Pendik Anadolu Teknik Lisesi (Elektrik/Elektronik Teknolojileri)</li>
            <li>Cumhuriyet Üniversitesi Yönetim Bilişim Sistemleri</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>İş Deneyimi</h2>
        <ul>
            <li>Assan Alüminyum (Elektrik/Elektronik Bakım)</li>
            <li>Aktivite İletişim(Saha Destek Elemanı)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Yabancı Dil</h2>
        <ul>
            <li>İngilizce : Orta</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Bilgisayar Bilgisi</h2>
        <ul>
            <li>MS Office : İyi</li>
            <li>Android Studio : Orta</li>
            <li>C# : Orta</li>
        </ul>
    </div>
</div>